@model IEnumerable<Placement.Models.Application>


@{
    ViewData["Title"] = "DemoViewAsPDF";
    Layout = "_LayoutP";

}

<h1>Applications</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@


<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentsId.StudentId)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.StudentsId.StudentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanysId.CompanyId)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.CompanysId.CompanyName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentsId.StudentId)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.StudentsId.StudentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanysId.CompanyId)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.CompanysId.CompanyName)
            </td>
           @* <td>
               <a asp-action="Edit" asp-route-id="@item.ApplicationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ApplicationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ApplicationID">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
</html>
