
@model Placement.Models.Student

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutS";
}

@*<h1>Details</h1>
*@
@*<p>
    <a asp-action="Create">Create New</a>
</p>*@

<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DOB)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DOB)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Native_place)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Native_place)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reg_no)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reg_no)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile_No)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile_No)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Department)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SSLC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SSLC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.XII)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.XII)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diploma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diploma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HOA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HOA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CGPA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CGPA)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AOI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AOI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PassWord)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StudentId">Edit</a> |
    
</div>

   

